@model Customer

<div class="alert-danger">@TempData["EmailExists"]</div>

<form asp-controller="Customer" asp-action="Register" method="post">
    <fieldset>
        <div class="form-group">
            <label asp-for="LastName" class="col-auto col-form-label"></label>
            <input asp-for="LastName" class="form-control  mb-auto" placeholder="Entrez votre Nom" autofocus />
            <span asp-validation-for="LastName" class="alert-danger"></span>
        
            <label asp-for="FirstName" class="col-auto col-form-label"></label>
            <input asp-for="FirstName" class="form-control  mb-auto" placeholder="Entrez votre Prénom" autofocus />
            <span asp-validation-for="FirstName" class="alert-danger"></span>
        
            <label asp-for="Email" class="col-auto col-form-label"></label>
            <input asp-for="Email" class="form-control mb-auto" placeholder="ex: JDupont@hotmail.com" />
            <span asp-validation-for="Email" class="alert-danger"></span>
        
            <label asp-for="Password" class="col-auto col-form-label"></label>
            <input asp-for="Password" class="form-control mb-auto" placeholder="********" />
            <span asp-validation-for="Password" class="alert-danger"></span>
        
            <label asp-for="DoB" class="col-auto col-form-label"></label>
            <input asp-for="DoB" class="form-control mb-auto" />
            <span asp-validation-for="DoB" class="alert-danger"></span>
        
            <label asp-for="PhoneNumber" class="col-auto col-form-label"></label>
            <input asp-for="PhoneNumber" class="form-control mb-auto" placeholder="ex: 048536****" />
            <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
        </div>

        <input type="submit" class="btn btn-success" />
    </fieldset>
    
</form>