@model List<TimeSlot>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Heure de début</th>
            <th>Heure de fin</th>
        </tr>
        @foreach (TimeSlot timeSlot in Model)
        {
        <tr>
            <td>@timeSlot.Start</td>
            <td>@timeSlot.End</td>

            <td><a asp-controller="TimeSlot" asp-action="GetCanva" asp-route-idCanva="@timeSlot.IdCanva">Choisir</a></td>
        </tr>
        }
    </table>

</div>