@model List<Product>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Nom</th>
        </tr>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
            </tr>
        }
    </table>

</div>
