@model List<Products>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Nom</th>
        </tr>
        @{
            foreach (Products p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    @*Ajouter un moyen de mettre un nombre*@
                </tr>
            }
            @*<td><a asp-controller="Order" asp-action="AddProduct" asp-all-route-data="params">Ajouter</a></td>*@
        }

    </table>

</div>
