@model List<Products>

<div class="text-center">
    <table class="table">
        <tr>
            Categorie
        </tr>
        @foreach (Products p in Model)
        {
    <tr>
        <td>@p.Category</td>
        <td><a asp-controller="Products" asp-action="Details" asp-route-category="@p.Category">details</a></td>
    </tr>
        }
    </table>

</div>
