@model Person

@if (TempData["ErrorSession"] != null)
{
    <span>@TempData["ErrorSession"]</span>
}

<form asp-controller="Person" asp-action="Authenticate" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

        <input type="submit" />

</form>