<a asp-controller="Customer" asp-action="Authenticate">Customer</a>
<a asp-controller="Cashier" asp-action="Authenticate">Cashier</a>
<a asp-controller="OrderPicker" asp-action="Authenticate">Order Picker</a>