@model Order

<div class="text-center">
    <table class="table">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>

        </tr>
        @{

            foreach (var d in Model.Products)
            {
                <tr>
                    <td>@d.Key</td>
                    <td>@d.Value</td>
                </tr>
            }
        }

    </table>

</div>