@model List<ClickAndCollect.ViewModels.OrderTimeSlotOrderProductViewModel>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Référence de la commande</th>
        </tr>
            @{
                foreach (var o in Model)
                {
                    <tr>
                        <td>@o.Order.OrderId</td>
                    </tr>
                }
            }


        </table>

</div>