@model List<ClickAndCollect.ViewModels.OrderTimeSlotOrderProductViewModel>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Référence de la commande</th>
            <th>Jour de la commande</th>
        </tr>
            @{
                foreach (var o in Model)
                {
                <tr>
                    <td>@o.Order.OrderId</td>
                    @*<td>@o.Order.Receipt</td>*@
                    <td>@o.TimeSlot.Day.ToString("dd/MM/yyyy")</td>
                </tr>
                }
            }


        </table>

</div>