@model List<Order>
<p>Listes des commandes du lendemain</p>
<table class="table">
    <tr>
        <th>Identifiant commande</th>   
        <th>Date d'enlèvement</th>
        <th>Prêt?</th>
    </tr>
    @foreach (var order in Model)
    {
    <tr>
        <td>@order.OrderID</td>
        <td>@order.DateOfReceipt</td>
        <td>@order.Ready</td>
        <td><a asp-controller="OrderPicker" asp-action="OrderDetails" asp-route-id="@order.OrderID">Voir</a></td>
    </tr>
    }
</table>


