@model Order
@if (TempData["ReceiptValid"] != null && TempData["Total"] !=null)
{
    <span>@TempData["ReceiptValid"]</span>
    <span>Montant total : @TempData["Total"] €</span>
}
@if (Model != null)
{
    @if (!Model.Receipt)
    {
        <form asp-action="DailyCustomer" method="post">
            <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
            <label asp-for="NumberOfBoxReturned"></label>
            <input asp-for="NumberOfBoxReturned" />
            <span asp-validation-for="NumberOfBoxReturned"></span>
            <label asp-for="Receipt"></label>
            <input asp-for="Receipt" />
            <span asp-validation-for="Receipt"></span>
            <input type="submit" />
        </form>
    }

}
else
{
    <h1>Erreur!!</h1>
    <p>@ViewData["Error"]</p>
}
<a asp-action="DailyCustomer">Retour</a>